/* global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html {
    scroll-behavior: smooth;
    --white: white;
    --black: black;
    --green: green;
    --light-gray: #D9D9D9;
    --dark-gray: #888888;
    --light-blue: #EAF2FF;
    --orange: #F94D1C;
    --yellow: #EFB343;
    --red: #DB0000;
}

#container > * > * {
    max-width: 1447px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form .error {
    height: 1rem;
    padding: 0.3rem;
    text-align: left;
    font-size: 0.65rem;
    font-weight: bold;
    color: var(--red);
}

a,
button {
    all: unset;
    font-weight: 600;
}

button {
    height: 45px;
    border: 2px solid var(--orange);
    border-radius: 7px;
    text-align: center;
    color: var(--white);
    background-color: var(--orange);
    transition: 0.3s;
}

input {
    border: 1px solid var(--dark-gray);
    border-radius: 7px;
    outline: none;
}

.logo-name,
.contact-info,
.card,
.card .prices,
.card .counter {
    display: flex;
    align-items: center;
}

.logo-name {
    column-gap: 0.5rem;
}

.logo-name h1 {
    font-size: 1.1rem;
    text-shadow: 0 0 10px var(--black);
}

.contact-info {
    column-gap: 0.6rem;
}

.card {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--dark-gray);
}

.card h3 {
    font-size: 0.9rem;
}

.card .prices {
    column-gap: 0.8rem;
    font-weight: bold;
}

.card .old-price {
    font-size: 0.9rem;
    text-decoration: line-through;
}

.card .new-price {
    font-size: 1.1rem;
    color: var(--orange);
}

.card .counter {
    flex-direction: row-reverse;
    column-gap: 0.25rem;
}

.card .quantity {
    text-align: center;
    font-weight: bold;
}

.toast {
    width: 100%;
    padding: 80px 15px;
    text-align: center;
    font-size: 16px;
}

.fa-shirt {
    font-size: 2.5rem;
    color: var(--orange);
    text-shadow: 0 0 10px var(--orange);
}

.fa-cart-shopping {
    font-size: 1.2rem;
}

.fa-phone-volume {
    font-size: 1.2rem;
    color: var(--orange);
}

.fa-star {
    margin-right: 0.3rem;
    color: var(--yellow);
}



/* media queries */

@media screen and (min-width: 576px) {
    html {
        font-size: 17px;
    }
    .toast {
        width: 390px;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 19px;
    }
    a,
    button {
        cursor: pointer;
        font-size: 17px;
    }
}