#discount {
    padding: 3.5rem 1.5rem;
    margin-top: 2rem;
    text-align: center;
    background: url("https://i.postimg.cc/cLV49sHY/bg.png") no-repeat 70% 0;
    background-size: cover;
}

#discount img {
    display: none;
}

#discount .subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
}

#discount .subscribe h2,
#discount .subscribe h3,
#discount .subscribe input,
#discount .subscribe p {
    font-size: 0.9rem;
    font-weight: normal;
}

#discount .subscribe h2 {
    letter-spacing: 7px;
    text-shadow: 0 0 3px var(--black);
}

#discount .subscribe h1 {
    font-size: 2rem;
}

#discount .subscribe form {
    row-gap: 0.8rem;
}

#discount form * {
    align-self: center;
    width: 250px;
}

#discount form input {
    padding: 0.88rem;
    border: 2px solid var(--white);
    text-align: left;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--dark-gray);
}



/* media queries */

@media screen and (min-width: 768px) {
    #discount .subscribe form {
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
    }
    #discount form input {
        width: 360px;
        padding: 0.7rem;
    }
    #discount form .subscribe-btn {
        width: 150px;
        height: 2.55rem;
    }
}

@media screen and (min-width: 992px) {
    #discount {
        padding: 0;
        text-align: left;
    }
    #discount .discount-sec {
        display: flex;
        align-items: center;
        column-gap: 50px;
    }
    #discount img {
        width: 380px;
        height: 380px;
        display: block;
    }
    #discount .subscribe {
        width: 54%;
    }
    #discount .subscribe form {
        justify-content: flex-start;
    }
}