#feedbacks {
    padding: 3.5rem 1.5rem;
    text-align: center;
    background-color: var(--light-blue);
}

#feedbacks .feedbacks-sec,
#feedbacks .boxes .box,
#feedbacks .box .pfp {
    display: flex;
    align-items: center;
}

#feedbacks .feedbacks-sec {
    flex-direction: column;
    row-gap: 3rem;
}

#feedbacks h2 {
    font-size: 1.7rem;
}

#feedbacks .boxes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

#feedbacks .boxes .box {
    max-width: 300px;
    flex-direction: column;
    row-gap: 0.7rem;
    font-size: 15px;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--dark-gray);
}

#feedbacks .box .fa-quote-right {
    align-self: flex-end;
    margin: 1rem;
    font-size: 1.7rem;
}

#feedbacks .box .pfp {
    position: relative;
    justify-content: center;
}

#feedbacks .box span {
    border-radius: 50%;
    position: absolute;
}

#feedbacks .box span:nth-child(1) {
    width: 130px;
    height: 130px;
    border: 1px solid var(--black);
}

#feedbacks .box span:nth-child(2),
#feedbacks .box span:nth-child(3) {
    width: 25px;
    height: 25px;
    background-color: var(--orange);
}

#feedbacks .box span:nth-child(2) {
    top: 70px;
    left: -20px;
}

#feedbacks .box span:nth-child(3) {
    top: -10px;
    left: 80px;
}

#feedbacks .box h3 {
    width: 100%;
    padding: 0.6rem;
    margin: 1.6rem 0 0.5rem;
    color: var(--white);
    background-color: var(--orange);
}

#feedbacks .box p {
    margin: 0 1rem 1rem;
}