#shirts {
    padding: 3.5rem 1.5rem;
}

#shirts .shirts-sec,
#shirts .card .score-buttons {
    display: flex;
    align-items: center;
}

#shirts .shirts-sec {
    flex-direction: column;
    row-gap: 3rem;
}

#shirts h2 {
    font-size: 2rem;
}

#shirts .filter-buttons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#shirts .filter-buttons * {
    width: 140px;
    color: var(--orange);
    background-color: var(--white);
}

#shirts .filter-buttons .active {
    color: var(--white);
    background-color: var(--orange);
}

#shirts .cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    gap: 2rem;
}

#shirts .cards .card {
    flex-direction: column;
    row-gap: 0.7rem;
}

#shirts .card img {
    width: 200px;
    height: 240px;
}

#shirts .card .score-buttons {
    width: 90%;
    justify-content: space-between;
    font-size: 0.8rem;
}

#shirts .card .counter {
    width: 60%;
    height: 41px;
    justify-content: center;
}

#shirts .card .add-to-cart-btn {
    width: 100px;
    height: 38px;
    font-size: 0.85rem;
}

#shirts .card .change-quantity-btn {
    width: 25px;
    height: 25px;
}

#shirts .card .quantity {
    width: 20%;
}



/* media query */

@media screen and (min-width: 768px) {
    #shirts .card .add-to-cart-btn {
        font-size: 0.75rem;
    }
}